#seccionMenu {
    background: url("/src/assets/menu-background.webp") center / cover no-repeat;
    min-height: 45rem;
    max-height: inherit;
  }
  
  #titulo-menu {
    font-size: 3rem;
    background: linear-gradient(90deg, #FFF078, #FFDB00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #subtitulo-menu {
    color: #ebe9fc;
    font-weight: 350!important;
  }

  .col-menu {
    margin-top: 1rem!important;
  }
